* {
    bg: #282936;
    fg: #E9E9F4;
    cursor: #E9E9F4;
    color0: #282936;
    color1: #EA51B2;
    color2: #00F769;
    color3: #EBFF87;
    color4: #62D6E8;
    color5: #B45BCF;
    color6: #A1EFE4;
    color7: #E9E9F4;
    color8: #4D4F68;
    color9: #EA51B2;
    color10: #00F769;
    color11: #EBFF87;
    color12: #62D6E8;
    color13: #B45BCF;
    color14: #A1EFE4;
    color15: #F7F7FB;
}
