* {
    bg: #1D2021;
    fg: #D5C4A1;
    cursor: #D5C4A1;
    color0: #1D2021;
    color1: #FB4934;
    color2: #B8BB26;
    color3: #FABD2F;
    color4: #83A598;
    color5: #D3869B;
    color6: #8EC07C;
    color7: #D5C4A1;
    color8: #665C54;
    color9: #FB4934;
    color10: #B8BB26;
    color11: #FABD2F;
    color12: #83A598;
    color13: #D3869B;
    color14: #8EC07C;
    color15: #FBF1C7;
}
