* {
    bg: #090300;
    fg: #A5A2A2;
    cursor: #A5A2A2;
    color0: #090300;
    color1: #DB2D20;
    color2: #01A252;
    color3: #FDED02;
    color4: #01A0E4;
    color5: #A16A94;
    color6: #B5E4F4;
    color7: #A5A2A2;
    color8: #5C5855;
    color9: #DB2D20;
    color10: #01A252;
    color11: #FDED02;
    color12: #01A0E4;
    color13: #A16A94;
    color14: #B5E4F4;
    color15: #F7F7F7;
}
