@import "wallust.css";

/* ALL */
* {
    border: none;
    border-radius: 0;
    font-family: Roboto Mono;
    font-size: 8pt;
    color: @fg;
    padding: 0px;
    margin: 0px;
    min-height: 0;
    min-width: 0;
    box-shadow: none;
}

/* BAR WINDOW */
window#waybar {
  background-color: @bg;
}

/* TOOLTIP */
tooltip {
  background: @bg;
  border: 1px solid @c2;
}

/* MAIN MENU ICON */
#custom-archicon {
  font-family: "Symbols Nerd Font Mono";
  font-size: 12pt;
  color: @c2;
}

/* IDLE INHIBITOR */
#idle_inhibitor.activated {
  color: @c3;
}

/* MODE */
#mode {
  color: @c11;
}

/* SEPARATOR */
custom-separator {
  color: @c1;
}

/* CLOCK AND DATE */
#clock.clock {
  font-size: 10pt;
  font-weight: bold;
}

/* WORKSPACES */
#workspaces button {
  padding: 0px 6px;
  border-bottom: solid 2px transparent;
}

#workspaces button:hover {
  background-image: none;
}

#workspaces button label {
  font-family: "Roboto Mono";
  font-size: 11pt;
  font-weight: bold;
}

#workspaces button.empty label {
  color: @c8;
}

#workspaces button:not(.empty):not(.active) label {
  color: @c2;
}

#workspaces button.active {
  border-bottom: solid 2px @c3;
}

#workspaces button.active label {
  color: @c3;
}
