@import "wallust.css";

/* ALL */
* {
    border: none;
    border-radius: 0;
    font-family: Roboto Mono;
    font-size: 8pt;
    color: @fg;
    padding: 0px;
    margin: 0px;
    min-height: 0;
    min-width: 0;
    box-shadow: none;
}

/* BAR WINDOW */
window#waybar {
  background-color: @bg;
}

/* TOOLTIP */
tooltip {
  background: @bg;
  border: 1px solid @c2;
}

/* SEPARATOR */
custom-separator {
  color: @c1;
}

