@define-color bg #1D2021;
@define-color fg #D5C4A1;
@define-color cr #D5C4A1;
@define-color c1 #FB4934;
@define-color c2 #B8BB26;
@define-color c3 #FABD2F;
@define-color c4 #83A598;
@define-color c5 #D3869B;
@define-color c6 #8EC07C;
@define-color c7 #D5C4A1;
@define-color c8 #665C54;
@define-color c9 #FB4934;
@define-color c10 #B8BB26;
@define-color c11 #FABD2F;
@define-color c12 #83A598;
@define-color c13 #D3869B;
@define-color c14 #8EC07C;
@define-color c15 #FBF1C7;
